.pokemons-container {
  width: 100%;
  height: fit-content;
  padding: 0 var(--main-padding);
}

.error {
  display: flex;
  flex-wrap: wrap;
}

.error-img {
  width: min(90%, 500px);
  height: fit-content;
  margin: auto;
  
  display: block;
}

.error-title {
  width: fit-content;
  height: fit-content;
  margin: auto;
  
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.pokemons-cards-container {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pagination {
  width: 100%;
  height: fit-content;
  margin-top: 5%;

  display: flex;
  justify-content: flex-end;
}


.pagination-btn {
  width: fit-content;
  height: fit-content;
  padding: 1em;
  border: 1px solid var(--white-color-1);

  background-color: var(--black-color-2);
  color: var(--white-color-1);
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.pagination-btn:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}