.pokemon-stats {
  width: 100%;
  height: fit-content;
}

.pokemon-stat {
  width: 100%;
  height: fit-content;
  margin: 0.5em 0;

  display: flex;
  text-transform: capitalize;
}

.pokemon-stat-name {
  width: 75%;
  height: fit-content;
}

.pokemon-stat-base {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}